* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
title {
  display: none;
}
canvas {
  width: 300px;
  height: 300px;
  margin: 5px;
}